lib/chromedriver/**
tmp
.eslintrc.json
.gitignore
Dockerfile
*.sh
testInstall.js
update.js
*.tgz
.vscode
.editorconfig
shippable.yml
.devcontainer/**/*
azure-pipelines.yml
.github
.travis.yml
tsconfig.json
