version: 1.0.{build}
environment:
  matrix:
  - nodejs_version: 0.10
  - nodejs_version: 0.12
  - nodejs_version: 1
  - nodejs_version: 2
  - nodejs_version: 3
  - nodejs_version: 4
  - nodejs_version: 5
  - nodejs_version: 6
install:
- cmd: npm install
build: off
test_script:
- ps: >-
    $nodeProcess = start node bin\chromedriver -PassThru

    sleep 5

    if ($nodeProcess.HasExited) { exit 1 }

    Stop-Process -Id $nodeProcess.Id -Force